/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.flex {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 60%;
}

.service {

    &__title {
        text-align: center;
    }

    &__ul {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__li {
        flex-basis: 30%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    &__img,
    &__texts {
        flex-basis: 100%;
    }

    &__img {
        width: 100%;
    }
}