/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.mobile-menu {

    &__li {
        width: 50%;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.service {
    &__ul {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__li {
        flex-basis: 30%;
    }

    &__img,
    &__texts {
        flex-basis: 100%;
    }

    &__img {
        width: 100%;
    }
}