.swiper-container {
    overflow: visible !important;
    height: 200px;
    margin-bottom: 16px;
}

.swiper-slide {
    height: 200px;
    overflow: hidden;
    
    & > img {
        width: 100%;
        height: 100%;
        // 画像の大きさが親要素の width の値よりも大きくならない
        max-width: 100%;
        // cover はアスペクト比を変更しないでトリミングしてはめ込む
        object-fit: cover;
        
        transform: scale(1.3);
        transition: transform 1.9s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 61, 125, 0.1);
    }

    &-active {
        & > img {
            transform: none;
        }
    }
}

.swiper-button {
    &-next {
        color: $cWhite;
        @include animation(
            $name: swiper-button-animation-next,
            $duration: 3s,
            $timing-function: ease-in-out,
            $iteration-count: infinite,
        );
    }

    &-prev {
        color: $cWhite;
        @include animation(
            $name: swiper-button-animation-prev,
            $duration: 3s,
            $timing-function: ease-in-out,
            $iteration-count: infinite,
        );
    }
}

.swiper-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@keyframes swiper-button-animation-prev {
    0%,50% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }
}

@keyframes swiper-button-animation-next {
    0%,50% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }
}