$cWhite: white;
$cBlack: black;
$cGray: #f4f4f3;
$contentMaxWidth: 1070px;
$cSubTitle: #535353;
$cBar: $cSubTitle;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$navHeight: 100px;
$cGreen: #008489;
$cRed: #FF385C;
$contentWidth: .8;
$cText: #484848;
$cYellow: #ffee6b;
$swiperHeight: 200px;