@charset "UTF-8";
.swiper-container {
  overflow: visible !important;
  height: 200px;
  margin-bottom: 16px;
}

.swiper-slide {
  height: 200px;
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-button-prev, .swiper-button-next {
  color: white;
}

.swiper-pagination {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tween-animate-title.inview .char {
  display: inline-block;
}

.tween-animate-title .char {
  opacity: 0;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: '';
  position: absolute;
  background-color: #56545741;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover-slide.inview::after {
  content: '';
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  z-index: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  width: 100%;
  background-image: url(images/image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}

.bgColorWhite, .btn.float, .btn.filled:hover, .btn.letter-spacing, .btn.shadow, .btn.solid, .btn.rotate, .btn.bg-slide {
  background-color: white;
  color: black;
}

.bgColorBlack, .btn.float:hover, .btn.filled, .btn.letter-spacing:hover, .btn.rotate:hover {
  background-color: black;
  color: white;
}

.btn {
  position: relative;
  margin: 10px auto;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none !important;
  border: 1px solid black;
}

.btn.filled {
  -webkit-box-shadow: 5px 5px 10px 0px #f4f4f3;
          box-shadow: 5px 5px 10px 0px #f4f4f3;
}

.btn.filled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  letter-spacing: 3px;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.btn.rotate:hover {
  -webkit-transform: scale(1.5) rotate(10deg);
          transform: scale(1.5) rotate(10deg);
  -webkit-box-shadow: 5px 5px 10px 0 #f4f4f3;
          box-shadow: 5px 5px 10px 0 #f4f4f3;
}

.btn.bg-slide {
  z-index: 0;
}

.btn.bg-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.bg-slide:hover {
  color: white;
}

.btn.bg-slide:hover::before {
  content: '';
  -webkit-transform: none;
          transform: none;
}

.btn.cubic-3d {
  display: inline-block;
  border: none;
  padding: 0 0;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cubic-3d span {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
}

.btn.cubic-3d .hovering {
  color: white;
  background-color: black;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  opacity: 0;
}

.btn.cubic-3d .default {
  color: black;
  background-color: white;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn.cubic-3d:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  opacity: 1;
}

.btn.cubic-3d:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.mobile-menu {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 100px;
  width: 100%;
  background-color: white;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  z-index: 100;
  cursor: pointer;
}

.mobile-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__bar {
  display: block;
  height: 2px;
  width: 35px;
  background-color: black;
  margin-bottom: 9px;
}

.mobile-menu__btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  margin-bottom: 5px;
}

.mobile-menu__btn > span {
  display: block;
  background-color: black;
  width: 35px;
  height: 2px;
  margin-bottom: 9px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__text {
  opacity: 1;
  letter-spacing: 3px;
  -webkit-transition: all 0.1s ease 0.2s;
  transition: all 0.1s ease 0.2s;
}

.mobile-menu__title {
  position: relative;
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  width: 50%;
  margin: 0 auto;
}

.mobile-menu__title > span {
  position: relative;
}

.mobile-menu__title > span:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  border-radius: 50%;
  background-color: #ffee6b;
  width: 50px;
  height: 50px;
  z-index: -1;
}

.mobile-menu__ul {
  list-style: none;
  padding: 0;
  width: 70%;
  margin: 10px auto;
}

.mobile-menu__li {
  width: 80%;
  margin: 10px auto;
}

.mobile-menu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #484848;
  text-decoration: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.mobile-menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffee6b;
  z-index: 20;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.mobile-menu__link:hover {
  color: #484848;
}

.mobile-menu__link:hover::after {
  -webkit-transform: translateY(-50%) scaleX(1);
          transform: translateY(-50%) scaleX(1);
}

.mobile-menu__eng {
  position: relative;
  z-index: 10;
  background-color: white;
  padding: 0 10px;
  font-size: 18px;
}

.mobile-menu__jpn {
  position: relative;
  z-index: 10;
  background-color: white;
  padding: 0 10px;
  font-size: 10px;
}

.mobile-menu__footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #484848;
  text-decoration: none !important;
  font-size: 10px;
  font-weight: 400 !important;
}

.mobile-menu__footer:hover {
  color: #484848;
}

.menu-open .mobile-menu {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}

.menu-open .mobile-menu__cover {
  visibility: visible;
  opacity: 1;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotateZ(135deg);
          transform: translateY(11px) rotateZ(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotateZ(-135deg);
          transform: translateY(-11px) rotateZ(-135deg);
}

.menu-open .mobile-menu__text {
  opacity: 0;
}

.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.icon {
  width: 38px;
}

.font-sm, .mobile-menu__text, .header__link > span {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm, .service__img, .works .swiper-container, .about__inner > span, .contact__notification, .contact__mail-address {
  margin-bottom: 16px !important;
}

.mb-lg, .hero, .principle, .service, .works, .blog, .about, .contact {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, .hero, .principle, .service, .works__inner, .blog, .about__inner, .contact, .footer__inner {
  width: 80%;
  margin: 0 auto;
  max-width: 1070px;
}

#global-container {
  position: relative;
}

#container {
  background-color: white;
  position: relative;
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.title__main {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2.0em;
}

.flex, .service__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-gray {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  background-color: rgba(0, 0, 0, 0.05);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 200;
  height: 100px;
  background-color: white;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  color: #484848;
  text-decoration: none !important;
}

.header__link > span {
  display: block;
}

.mobile-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.mobile-menu__bar {
  display: block;
  height: 2px;
  width: 35px;
  background-color: black;
  margin-bottom: 9px;
}

.contents-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none !important;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.contents-link:hover {
  color: rgba(0, 0, 0, 0.4) !important;
}

.contents-link:hover .contents-link__arrow {
  -webkit-transform: translate(10px, -2px);
          transform: translate(10px, -2px);
  opacity: 0.4;
}

.contents-link__text {
  margin: 0 10px;
}

.contents-link__arrow {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: 32px;
  height: 32px;
  opacity: 1;
}

.hero {
  position: relative;
  padding-top: 100px;
}

.hero__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  margin: 40px auto;
}

.hero__texts {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 300px;
}

.hero__title {
  font-size: 40px;
  font-weight: 600;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin: 30px 0px;
}

.hero__title > span {
  letter-spacing: 7px;
  display: block;
  line-height: 1.0;
}

.hero__horizontal {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__vertical {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__jpn {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  padding-right: 5px;
  border-right: 1px black solid;
}

.hero__domain {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: none;
}

.hero__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
}

.hero__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.hero__triangle {
  width: 0;
  height: 0;
  border-right: 150px solid transparent;
  border-bottom: 260px solid #ffee6b;
  border-left: 150px solid transparent;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  opacity: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__circle {
  position: absolute;
  top: 30%;
  right: 0;
  width: 200px;
  height: 150px;
  opacity: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}

.hero__circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.principle__wrapper {
  position: relative;
  max-height: 200px;
  padding-bottom: 40px;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.principle__accordion::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 252, 252, 0)), color-stop(30%, rgba(252, 252, 252, 0.5)), to(white));
  background: linear-gradient(180deg, rgba(252, 252, 252, 0), rgba(252, 252, 252, 0.5) 30%, white);
}

.principle__btn {
  background-image: url(../../images/down-arrow.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.expand .principle__wrapper {
  max-height: 1000px;
}

.expand .principle__accordion::before {
  content: "";
  display: none;
}

.expand .principle__btn {
  -webkit-transform: translateX(-50%) rotate(-180deg);
          transform: translateX(-50%) rotate(-180deg);
}

.service__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
}

.service__li {
  margin-bottom: 32px;
}

.service__li:nth-child(1) .service__img::before {
  background-color: #ffee6b;
  background-image: url(../../images/wordpress.svg);
}

.service__li:nth-child(2) .service__img::before {
  background-color: #dfdedb;
  background-image: url(../../images/shoppingcart.svg);
}

.service__li:nth-child(3) .service__img::before {
  background-color: #96d0d1;
  background-image: url(../../images/mapmarker.svg);
}

.service__img::before {
  content: "";
  display: block;
  padding-top: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 50%;
  background-position: center;
}

.service__icon {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.service__icon:nth-child(2) {
  background-color: black;
}

.service__title {
  text-align: center;
}

.service__title-main {
  font-size: 1.5em;
}

.works {
  position: relative;
  padding: 80px 0;
}

.works::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #ffee6b;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.works__inner {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.blog {
  overflow: hidden;
}

.blog__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50%;
}

.blog__title {
  color: white;
  font-weight: 600;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__date {
  color: white;
}

.about {
  position: relative;
  padding: 80px 0;
}

.about::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #f4f4f3;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.about__inner {
  position: relative;
  z-index: 1;
}

.about__inner > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.about__detail > p {
  text-align: center;
}

.about__detail > p > span {
  font-weight: 600;
}

.contact {
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffee6b;
  z-index: 0;
}

.contact__notification {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.contact__mail-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__mail-img {
  width: 16px;
  margin-right: 5px;
}

.contact__reply {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.contact__link {
  color: black !important;
  text-decoration: underline;
}

.footer {
  position: relative;
  background-color: #ffee6b;
}

.footer a {
  color: black !important;
}

.footer a:hover {
  text-decoration: none !important;
}

.footer__inner {
  position: relative;
  height: 500px;
}

.footer__main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__main > small {
  text-align: center;
  display: inline-block;
}

.footer__follow-save {
  text-align: center;
}

.footer__ul {
  font-size: 28px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__link {
  letter-spacing: 3px;
}

.footer__bottom {
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.footer__bottom a {
  text-decoration: underline;
}

.inview .hero__triangle {
  opacity: 1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.inview .hero__circle {
  opacity: 1;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .hero__domain {
    display: block;
  }
  .principle__wrapper {
    max-height: 1000px;
  }
  .principle__accordion {
    display: none;
  }
  .flex, .service__li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .service__title {
    text-align: left;
  }
  .service__li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .service__img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .service__texts {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .mobile-menu__li {
    width: 50%;
  }
  .flex, .service__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    width: 60%;
  }
  .service__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__li {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .service__img, .service__texts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .service__img {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .hero__title > span {
    display: inline;
  }
  .service__li {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=styles.css.map */